<div class="wrap">
  <div class="body">
    <div class="wrapper">
      <select name="dropdown" class="select" [(ngModel)]="idSelected">
        <option
          *ngFor="let artist of artists"
          value="{{ artist.id }}"
        >
          {{ artist.name }}
        </option>
      </select>
      <input
        type="text"
        name="description"
        class="input"
        placeholder="Write your description here"
        [(ngModel)]="description"
      />
      <button (click)="setDescription()">Send</button>
    </div>
  </div>
  <div>
    {{ response }}
  </div>
</div>
