<nav class="navbar bg-light">
  <div class="container-fluid">
    <li>
      <a id="nav-home" class="hoverable" href="/">Home Page</a>
    </li>
    <li>
      <a id="nav-get-all-artists" class="hoverable" href="/get-all-artists"
        >Artists</a
      >
    </li>
    <li>
      <a id="nav-add-description" class="hoverable" href="/add-description"
        >Add description</a
      >
    </li>
    <li>
      <a id="nav-add-artist" class="hoverable" href="/add-artist">Add Artist</a>
    </li>
    <li>
      <a id="nav-delete-artist" class="hoverable" href="/delete-artist"
        >Delete Artist</a
      >
    </li>
  </div>
</nav>
