<nav class="navbar bg-light">
  <div class="container-fluid">
    <li>
      <a id="nav-home" class="hoverable" routerLink="/">Home Page</a>
    </li>
    <li>
      <a id="nav-get-all-artists" class="hoverable" routerLink="/get-all-artists"
        >Artists</a
      >
    </li>
    <li>
      <a id="nav-add-description" class="hoverable" routerLink="/add-description" routerLinkActive="true"
        >Add description</a
      >
    </li>
    <li>
      <a id="nav-add-artist" class="hoverable" routerLink="/add-artist">Add Artist</a>
    </li>
    <li>
      <a id="nav-delete-artist" class="hoverable" routerLink="/delete-artist"
        >Delete Artist</a
      >
    </li>
  </div>
</nav>
