<nav class="navbar bg-light">
  <div class="container-fluid">
    <li>
      <a
        id="nav-home"
        class="hoverable"
        routerLink="/"
        routerLinkActive="true"
      >Home</a
      >
    </li>
    <li>
      <a
        id="nav-add-description"
        class="hoverable"
        routerLink="/add-description"
        routerLinkActive="true"
      >Add description</a
      >
    </li>
    <li>
      <a
        id="nav-add-artist"
        class="hoverable"
        routerLink="/add-artist"
        routerLinkActive="true"
      >Add Artist</a
      >
    </li>
    <li>
      <a
        id="nav-delete-artist"
        class="hoverable"
        routerLink="/delete-artist"
        routerLinkActive="true"
      >Delete Artist</a
      >
    </li>
  </div>
</nav>
