<!-- <link href="https://fonts.googleapis.com/css?family=PT+Sans|Titillium+Web:400,600" rel="stylesheet"> -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<p style='text-align:right;'>
  <button class='primary'>+ New Product</button>
</p>
<div class="table-actions">
  <button class='secondary dropdown edit'>
    Actions
    <div class="flyout">
      <li>Duplicate</li>
      <li>Delete</li>
    </div>
  </button>
  <!-- 	</div> -->
  <input type="text" placeholder='Search'>
</div>

<table>
  <tr class="table-head">
    <td class='table-selector'><span class='table-select select-all'></span></td>
    <td>
			<span>Product ID
				<div class='sort'>
					<img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/1672327/arrow-down.svg' alt=""></div></span>Name
    </td>
    <td>Status</td>
    <td>Price</td>
  </tr>
</table>
