<h1>Artists</h1>
<table class="rwd-table">
  <tr>
    <th>Id </th>
    <th>Name</th>
    <th>Uri</th>
    </tr>
  <tr>
    <td data-th="Id">1</td>
    <td data-th="Name">Metallica</td>
    <td data-th="Uri">http://www.metallica.com</td>
  </tr>
  <tr>
    <td data-th="Id">2</td>
    <td data-th="Name">Iron Maiden</td>
    <td data-th="Uri">http://www.ironmaiden.com</td>
  </tr>
  <tr>
    <td data-th="Id">3</td>
    <td data-th="Name">AC/DC</td>
    <td data-th="Uri">http://www.acdc.com</td>
  </tr>
</table>

